<div class="preview-sidebar">
  <h3>区块列表</h3>
  <ul>
    {{#each blocks}}
    <li>
      <a href="{{material}}/block/{{ className }}">{{ className }}</a>
    </li>
    {{/each}}
  </ul>

  <h3>布局列表</h3>
  <ul>
    {{#each layouts }}
    <li>
      <a href="{{material}}/layout/{{ className }}">{{ className }}</a>
    </li>
    {{/each}}
  </ul>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  .preview-sidebar {
    position: fixed;
    left: 0;
    width: 200px;
    padding: 20px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #f5f5f5;
    box-sizing: content-box;
  }

  .preview-sidebar h3 {
    font-size: 14px;
  }

  .preview-sidebar ul {
    margin: 10px 0 20px 10px;
  }

  .preview-sidebar li {
    line-height: 26px;
    list-style: none;
    font-size: 13px;
  }

  .preview-sidebar a {
    color: #666;
    text-decoration: none;
  }

  .preview-sidebar a:hover {
    color: #999;
  }

  .preview-content {
    margin-left: 240px;
    padding: 20px;
  }

  .preview-content .tips {
    color: #666;
    font-size: 13px;
  }
</style>
